// Mixins
@import './mixins/responsive';

// Pages partials
// TODO ADD IMPORT

// Components partials
// TODO ADD IMPORT

// Fonts
// TODO choose a font => @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

html {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;

  .fab {
    top: 2em;
    left: 2em;
    position: fixed;
    z-index: 1;
  }
}
